# Build artifacts
target/
*.class

# IDE files
.idea/
*.iml
.vscode/

# System files
.DS_Store
.checkpoints/

# Release folder (Generated artifact)
# Release folder (Generated artifact)
# KrillBrowser_Release/

# User data (JCEF cache etc if locally stored)
jcef-bundle/